%h1 Edit article

%form.form-stacked{ :action => "/article/edit/#{@article.id}", :method => "post"}
  
  %fieldset.clearfix
    %label{:for => "title"} Title:
    %input.span4{:type => "text",
                 :name => "title",
                 :class => "text",
                 :value => "#{@article.title}"}
  
  
  %fieldset.clearfix
    %label{:for => "content"} Content:
    %textarea.span4{:type => "text",
                    :name => "content",
                    :class => "text",
                    rows: 3,
                    :value => "#{@article.content}"}

  %div.actions
    %input.btn.primary{:type => "submit", :value => "Send", :class => "button"}

- if @err.nil?
  - true
- elsif @err
  .alert-message.error
    -#%p= "Url \"#{@item.url}\" is invalid"
    =@err.all
