%h1 Edit article

%form.form-stacked{ :action => "/article/edit/#{@article.id}", :method => "post"}
  
  %fieldset.clearfix
    %label{:for => "title"} Title:
    %input{:type => "text",
                 :name => "title",
                 :class => "text",
                 :value => "#{@article.title}"}
  
  
  .clearfix
    %label{:for => "content"} Content:
    %textarea.span12{:type => "text",
                    :rows => 12,
                    :name => "content",
                    :class => "text",
                    :style => "font-family: monospace;"}= @article.content
    %span.help-block You can use markdown syntax

  %div.actions
    %input.btn.primary{:type => "submit", :value => "Update", :class => "button"}
    %button.btn{:type => "reset"} Cancel

- if @err.nil?
  - true
- elsif @err
  .alert-message.error
    -#%p= "Url \"#{@item.url}\" is invalid"
    =@err.all
