%h1 Would you like to visit some of these sites?
- if @r
  Deleted

%ul
  - @items.each do |item|
    %li
      %a{:href => "#{item.url}"}
        = item.name
      %a{:href => "/edit/#{item.id}"}
        Edit
