!!!
%html
  %head
    %link{"rel" => "stylesheet", "href" => "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css", "type" => "text/css"}
    %title youSite :P
  %body
    #header
      %a(href="/") Home
      %a(href="new") New url
    #content
      =yield
