!!!
%html
  %head

    %link{"rel" => "stylesheet", "href" => "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css", "type" => "text/css"}

    %script{"type" => "text/javascript", "src" => "http://code.jquery.com/jquery-1.7.min.js"}
    %script{"type" => "text/javascript", "src" => "/js/base.js"}
    %script{"type" => "text/javascript", "src" => "/js/jquery.validate.min.js"}

  %body
  .container
    %a(href="/")
      Home
    %a(href="new")
      New url

    =yield
