%h1 Create new record
%form.form-stacked{ :action => "", :method => "post"}
  %fieldset.clearfix
    %label{:for => "name"} Name:
    %input.span4{:type => "text", :name => "name", :class => "text" }
    %br/
    %label{:for => "url"} Url:
    %input.span4{:type => "url", :name => "url", :value => "http://"}
    %input.btn.primary{:type => "submit", :value => "Send", :class => "button"}
- if @err.nil?
- elsif @err
  .alert-message.error
    %p= "Url \"#{@item.url}\" is invalid"
