%h1 Some header
%form{ :action => "", :method => "post"}
  %fieldset
    %label{:for => "name"} Name:
    %input{:type => "text", :name => "name", :class => "text"}
    %label{:for => "url"} Url:
    %input{:name => "url"}
    %input{:type => "submit", :value => "Send", :class => "button"}
  - if @err.nil?
    %p Create new record
  - elsif @err.empty?
    %p Added
  - elsif @err
    %p Something's wrong with url
